<input type="radio" class="input_field" value="all" name="gender" [(ngModel)]="selectedRadioButtonValue" (change)="getSelectedOption()">
<span class="radioClass">All{{"(" + all + ")"}}</span>

<input type="radio" class="input_field" value="female" name="gender" [(ngModel)]="selectedRadioButtonValue" (change)="getSelectedOption()">
<span class="radioClass">Female{{"(" + female + ")"}}</span>

<input type="radio" class="input_field" value="male" name="gender" [(ngModel)]="selectedRadioButtonValue" (change)="getSelectedOption()">
<span class="radioClass">Male{{"(" + male + ")"}}</span>

