<div class="container">
    <header class="header">
        <!-- <div class="store_lobo">
            <p><i class="fa fa-store fa-3x"></i></p>
        </div> -->
        <img src="src/assets/Son_Goku.PNG" alt="logo"class="brand_lobo">
         <div class="brand_circle">
            <h5 class="brand_lobo">SkillConnect</h5>
         </div>
           
            <div class="search_box">
                <div class="dropdown">
                    <div class="default__option">Categories</div>
                     <div class="dropdown_list">
                            <ul>
                                 <li><a href="#">Sales</a></li>
                                 <li><a href="#">Business</a></li>
                                 <li><a href="#">Productivity</a></li>
                             </ul>
                        </div>
                </div>
                
                <!-- <div class="search_field"></div> -->
                <input type="text" class="search_box__input" placeholder="Search for anything">
                <a href="#" class="search_box__button"><i class="fa fa-search fa-1.8x" aria-hidden="true"></i></a>
                
                
                
                
            </div>
        <div class="shopping_cart">
           <p class="cart_lobo"><i class="fa fa-shopping-cart fa-3x"></i></p>
        </div>
        <!-- <div class="login_btn"></div> -->
        <button class="loginbtn">Login</button>
        <button class="signupbt">Signup</button>
    </header>

</div>