* {
    margin: 0;
    padding: 0;
}

.container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    //bottom:5em;
    bottom: 0;
}

.container .mat-drawer {
    min-width:200px;
   // bottom: 0;
}

.mat-drawer .mat-button {
    display:block;
    width:100%;
    text-align:center;
    color: #fff;
    //background: cadetblue;
}

.mat-drawer .mat-button:hover{
    color: cyan;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.mat-drawer {
    background: #111;
}

i.fa-angle-right{
    float: right;
    margin-top:10px;
}




.container .sidenav-content .mat-toolbar-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.sidenav-content .mat-toolbar-row span{
   font-weight: 200;
   font-size: 0.8em;
    color: #111;
}

.sidenav-content .mat-toolbar-row .btn{
    width: 5em;
    height: 2.5em;
    border: 1px solid  #b7b2b2;
    border-radius: 5px;
    background: none;
    background-color: #00CED1;
    //background-color: #00CED1;
    // border:1px solid black;
   // border-radius: 5px;
}

.sidenav-content .mat-toolbar-row .btn a {
    text-decoration: none;
    color: #fff;
   
}

.main_content{
    margin-left: 2em;
    
}
