<!-- <div *ngIf="isSubmitted">
    <span>Form Submitted Successfully!!</span>
</div>

<mat-card style="width:50%;" class="text-center">
    <mat-card-title>Login Form</mat-card-title>
    <form [formGroup]="loginForm"(ngSubmit)="onSubmit()">
        <mat-form-field style="width:75%;">
            <input matInput type="text" formControlName="email" placeholder="Enter Email*">
            <mat-error *ngIf="f.email.invalid && f.email.touched">
            <span>Please Enter Valid email Address</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field style="width:75%;">
            <input matInput type="text" formControlName="password" placeholder="Enter Password*">
            <mat-error *ngIf="f.password.invalid && f.password.touched">
              <span>Must contain at least 1 Uppercase, 1 Lowercase, 1 Number, 1 speacial character except _ and -</span>
            </mat-error>
        </mat-form-field>
         <mat-form-field style="width:75%;">
            <input matInput type="text" formControlName="username" placeholder="UserName">
            <mat-error *ngIf="f.username.invalid && f.username.touched">
               <span>Username must be alphaNumeric,No special character except _ and -</span>
            </mat-error>
        </mat-form-field> -->
        
        <!-- <button style="width:75%;"class="btn btn-info"[disabled]="!loginForm.valid">Login</button> -->
        <!-- <button (click)="resetData()">Reset</button> -->
    <!-- </form> -->
    

<!-- </mat-card> --> 
<div *ngIf="isSubmitted">
 <span style="color:blue;">Form Submitted Successfully!!</span>
</div>
<mat-card style="width:50%" class="text-center">
    <mat-card-title>Login Form</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="width:75%">
            <input matInput type="text" formControlName="email" placeholder="Enter Email*">
            <mat-error *ngIf="f.email.invalid && f.email.touched">
                <span>Please Enter Valid Email Address</span>
            </mat-error>
        </mat-form-field>
       <mat-form-field style="width:75%;">
           <input matInput type="text" formControlName="password" placeholder="Enter Password*">
           <mat-error *ngIf="f.password.invalid && f.password.touched">
                <span>must contain 1 Uppercase, 1 Lowercase, 1 number, 1 special character except underscore"_" and hyphen"-"</span>
           </mat-error>
       </mat-form-field>
        <br><br>        
        <button style="width:75%" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>

    </form>
</mat-card>

<!-- <app-reactiveform></app-reactiveform> -->