 .card{
   width:40em;
   align-items: center;
 }

 .form-group{
   width:30em;
 }

 label{
   padding-left: 0.5em;
 }

































// .card{
//   width:40em;
//   margin-top:2em;
//   align-items:center;
// }

// .form-group{
//   width:30em;
//   margin-top: 2em;
// }

// input.ng-touched.ng-invalid{
//   background-color: red;
// }

// input.ng-invalid.ng-touched{
//   border: 1px solid red;

// }
// .card{
//   margin-top: 2em;
//   width:40em;
//   align-items:center;
// }
// .form-group{
//   width: 30em;
//   margin-top:1em;
// }

// label{
//   padding-left: 1em;
// }

